@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    top: 30px;
    border-right: 190px;
    border-left: 80px;
}
.header{
display: flex;
justify-content: space-between;
padding: 20px;
padding-top: 1px;
padding-left: 1x;
padding-right: 190px;
}
.header-link{
   font-family: 'Inter', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;  
   margin: 17px;
   color: #B8BECD;
   transition: all linear;
   text-decoration: none;
   top: 56px;
}
.header-link:hover{
    text-decoration: underline blue;
}
.header-link:active{
    color: black;
}
.header__btn{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 40px;
color: #ffffff;
background: #FB8F1D;
border-radius: 8px;
border: 1px solid transparent;
width: 132px;
height: 44px;
transition: all linear;
}
.header__btn:hover{
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    background: transparent;
}
.header__btn:active{
    border-color: black;
    color: black;
}
.section{
    padding: 20px;
padding-top: 1px;
padding-left: 1px;
padding-right: 1px;
}
.title{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    max-width: 356px;
    text-align: left;
padding-left: 1px;
padding-top: 35px;
margin-top: 114px;
}
.formtext{
    font-family: 'Muli', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    padding-right: 1px;
    margin-top:74px;
}
.pic{
    width: 687px;
height: 654px;
float: right;
margin-top: 80px;
}
.section__thousand{
position: absolute;
}
.section__form{
    width: 220px;
    height: 52px;
    left: 191px;
    top: 532px;
    
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #4A4C53;
    padding-left: 15px;
    border-spacing: 20px;

    justify-content: space-between;
    max-width: 470px;
    margin-top: 35px;
    margin-right: 30px;
}
.section__slash{
    width: 32px;
    height: 2px;
}
.section__btn{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    background: #FB8F1D;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 180px;
    height: 50px;
    transition: all linear;
    margin-top: 51px;
    }
.section__btn:hover{
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    background: transparent;
 }
 .section__btn:active{
     border-color: black;
     color: black;
}

.pic-02{
    position: absolute;
    top: 0;
    left: 0;
    width: 687px;
height: 654px;
display: flex;
margin-top: 286px;
}
.section__thousand02{
margin-top: 16px;
}
.text{
    position: absolute;
    top: 0;
    right: 0;
    width: 481px;
}
.section02__title{
    margin-top: 382px;
    margin-left: 102px;
    max-width: 481px;
    max-height: 100px;
    left: 102px;
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: black;
}
.section__text{
    margin-top: 20px;
    margin-left: 102px;
    max-width: 450px;
    max-height: 120px;
    left: 102px;
font-family: 'Muli', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 30px;
color: #7D7987;
}
.section02__btn{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #ffffff;
    background: #FB8F1D;
    border-radius: 8px;
    border: 1px solid transparent;
    width: 164px;
    height: 48px;
    transition: all linear;
    margin-top: 39px;
    margin-left: 102px;
    }
.section02__btn:hover{
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    color: #FB8F1D;
    background: transparent;
 }
 .section02__btn:active{
     border-color: black;
     color: black;
}